<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head') %>
  <body>
    <%- include("./partials/nav") %>
    <div>
      <h2><%= blog.title %></h2>
      <div>
        <p><%= blog.body %></p>
      </div>
      <a data-doc="<%= blog._id %>" class="delete">delete</a>
    </div>
  </body>
</html>
