<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: #f0f0f0;
        color: #333;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
      }
      h1 {
        color: #4caf50;
      }
      p {
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <%- include('partials/nav') %>
    <h1>Welcome to the profile <%= person %></h1>
    <p>Age: <%= data.age %></p>
    <p>Job: <%= data.job %></p>
    <h2>Hobbies</h2>
    <ul>
      <% hobbies.forEach(function(item){ %>
      <li><%= item %></li>
      <% }) %>
    </ul>
  </body>
</html>
